body
{
  background-color:#272127;
  color:ghostwhite;
}
fieldset{
  border:none;
}
#title,#description{
font-family:fantasy;
text-align:center;
}
#survey-form{
  background-color:#2e3138;
  font-size:130%;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}
input,select,submit{
  margin-top:10px;
  width:100%;
}
input[type="radio"]
{
  width:unset;
}
textarea
{
  border-radius:5px;
  width:100%;
}
input[type="checkbox"]
{
  width:unset;
